services:
  # -------------------------------
  # Database
  # -------------------------------
  postgres:
    image: postgres:16
    container_name: aerocast_postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - aerocast_db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h localhost -p 5432 -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  minio:
    image: minio/minio:latest
    command: server /data
    environment:
      MINIO_ROOT_USER: ${S3_ACCESS_KEY:-minioadmin}
      MINIO_ROOT_PASSWORD: ${S3_SECRET_KEY:-minioadmin}
    ports:
      - "9000:9000"
    healthcheck:
      test: ["CMD", "stat", "/data"]
      interval: 10s
      retries: 3

  # # -------------------------------
  # # Services Application
  # # -------------------------------
  auth:
    build:
      context: .
      dockerfile: services/auth/Dockerfile
    dns:
      - 8.8.8.8
      - 8.8.4.4
      - 1.1.1.1
    env_file: .env
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8001:8000"

  baggage:
    build:
      context: .
      dockerfile: services/baggage/Dockerfile
    dns:
      - 8.8.8.8
      - 8.8.4.4
      - 1.1.1.1
    env_file: .env
    depends_on:
      - postgres
    ports:
      - "8002:8000"

  weather:
    build:
      context: .
      dockerfile: services/weather/Dockerfile
    dns:
      - 8.8.8.8
      - 8.8.4.4
      - 1.1.1.1
    env_file: .env
    environment:
      - RUN_MIGRATIONS=true
      - SERVICE_NAME=services.weather
    depends_on:
      - postgres
      - rabbitmq
    ports:
      - "8003:8000"
    volumes:
      - ./services/weather:/app/services/weather
      - ./libs:/app/libs

  orientation:
    build:
      context: .
      dockerfile: services/orientation/Dockerfile
    dns:
      - 8.8.8.8
      - 8.8.4.4
      - 1.1.1.1
    env_file: .env
    environment:
      - RUN_MIGRATIONS=true
      - SERVICE_NAME=services.orientation
    depends_on:
      - postgres
      - rabbitmq
    ports:
      - "8004:8000"
    volumes:
      - ./services/orientation:/app/services/orientation
      - ./libs:/app/libs


  # -------------------------------
  # Message Broker
  # -------------------------------
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin

  # -------------------------------
  # ELK Stack
  # -------------------------------
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.13.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "9200:9200"
    volumes:
      - esdata:/usr/share/elasticsearch/data
    deploy:
      resources:
        limits:
          memory: 1g

  kibana:
    image: docker.elastic.co/kibana/kibana:8.13.0
    container_name: kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch

  logstash:
    image: docker.elastic.co/logstash/logstash:8.13.0
    container_name: logstash
    volumes:
      - ./logstash/pipeline:/usr/share/logstash/pipeline
    ports:
      - "5044:5044"
    depends_on:
      - elasticsearch

  # -------------------------------
  # OpenTelemetry Collector
  # -------------------------------
  otel-collector:
    image: otel/opentelemetry-collector-contrib:latest
    container_name: otel-collector
    command: ["--config=/etc/otel-collector-config.yaml"]
    volumes:
      - ./otel_collector.yml:/etc/otel-collector-config.yaml
    ports:
      - "4317:4317" # OTLP gRPC
      - "4320:4320" # OTLP HTTP
    depends_on:
      - elasticsearch

  jaeger:
    image: jaegertracing/all-in-one:latest
    container_name: jaeger
    ports:
      - "16686:16686"  # UI Jaeger
      - "4318:4318"    # OTLP HTTP
      - "6831:6831/udp" # Jaeger Thrift UDP

  # -------------------------------
  # Prometheus
  # -------------------------------
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  # -------------------------------
  # Traefik
  # -------------------------------
  traefik:
    image: traefik:latest
    command:
      - --api.insecure=true
      - --providers.docker=true
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --providers.file.filename=/etc/traefik/dynamic.yml
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080" # traefik dashboard
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik/dynamic.yml:/etc/traefik/dynamic.yml:ro
    
  # -------------------------------
  # Celery
  # -------------------------------
  celery-worker:
    build:
      context: .
      dockerfile: services/weather/Dockerfile
    dns:
      - 8.8.8.8
      - 8.8.4.4
      - 1.1.1.1
    command: celery -A services.weather.workers.tasks worker --loglevel=info
    depends_on:
      - rabbitmq
      - postgres
      - weather
    env_file: .env
    volumes:
      - ./services/weather:/app/services/weather
      - ./libs:/app/libs

  celery-beat:
    build:
      context: .
      dockerfile: services/weather/Dockerfile
    dns:
      - 8.8.8.8
      - 8.8.4.4
      - 1.1.1.1
    command: celery -A services.weather.workers.tasks beat --loglevel=info
    depends_on:
      - rabbitmq
      - postgres
      - weather
    env_file: .env
    volumes:
      - ./services/weather:/app/services/weather
      - ./libs:/app/libs

volumes:
  aerocast_db_data:
  esdata: